body {
  font-family: Helvetica;
}

.navbar-toggler {
    border-color: #007bff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 123, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav {
    float: right;
}

.navbar-nav a {
  color: black;
}

.navbar-nav a.active{
    color : orange;
}

.navbar-nav a:hover{
  color: rgba(255, 153, 0, 0.596);
}


.jumbotron {
    opacity: 0.7;
background-image: url('images/back1.png');
background-position: bottom;
    background-size: cover;
    height: 470px;
}

.title {
    text-align: center;
    color: orange;
    font-weight: bold;
    font-family: Helvetica;
}

.footer-links{
   text-align: center; 
}

.description{
    text-align: center;
    font-size: 16px;
}

.description li{
list-style-type: none;
}

.compPic {
    height: 400px;
    width: 100%; 
}


.compContainer{
    background-color:rgba(240, 240, 240, 0.904);
    padding: 20px;
    margin-bottom: 80px;
    max-width: 900px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px grey;
}

.navbar-collapse li {
    list-style-type: none;
}

ul {    padding: 0px;
}

ul.pay > li {
    padding-left: 20px;
}

.pay > p {
   padding-left: 20px; 
}
#footer {
    padding-top: 15px;
    background-color: black;
    
}

.copyright {
    text-align: center;
    color: orange;
    font-family: Helvetica;
    background-color: black;
}
        .form-login, .form-register{
            background-color:rgba(240, 240, 240, 0.904);
            height: 200px;
            max-width: 600px;
            padding-top: 20px;
            border-radius: 5px;
            box-shadow: 2px 5px 5px grey;
            margin-bottom: 100px;
        }
        .form-register{
            height: 680px;  
        }


.payContainer{
    background-color:rgba(240, 240, 240, 0.904);
    padding: 20px;
    margin-bottom: 80px;
    max-width: 1400px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px grey;
}

.worksContainer{
max-width:300px;
    background-color:rgba(240, 240, 240, 0.904);
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px grey;
}


.tile-number {
    text-align: center;
    background-color: blue;
    padding-top:5px;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px grey;
}

.tile-h4 {
    margin-top: 10px;
    text-align: center;
    color: orange;
    font-weight: bold;  
}

.tile-p {
    text-align: center;   
}
