.navbar-nav a {
  color: black;
}

.navbar-nav a.active{
    color : orange;
}

.navbar-nav a:hover{
  color: rgba(255, 153, 0, 0.596);
}

@media (min-width: 992px){
    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }
}

.jumbotron {
    opacity: 0.7;
background-image: url('images/back1.png');
background-position: bottom;
    background-size: cover;
    height: 470px;
}

.title {
    text-align: center;
    color: orange;
    font-weight: bold;
    font-family: Helvetica;
}

.footer-links{
   text-align: center; 
}

.description{
    text-align: center;
    font-size: 16px;
}

.compPic {
    height: 320px;
    width: 100%;
    
}


.compContainer{
    background-color:#d4d4d4;
    padding: 20px;
    margin-bottom: 80px;
    max-width: 900px;
}

li {
    list-style-type: none;
}

ul {    padding: 0px;
}

#footer {
    padding-top: 15px;
    background-color: black;
    
}

.copyright {
    text-align: center;
    color: orange;
    font-family: Helvetica;
    background-color: black;
}
        .form-login, .form-register{
            background-color:rgba(240, 240, 240, 0.904);
            height: 200px;
            max-width: 600px;
            padding-top: 20px;
            border-radius: 5px;
            box-shadow: 2px 5px 5px grey;
            margin-bottom: 100px;
        }
        .form-register{
            height: 1050px;  
        }